/**General Styles**/
body{
    font-family: 'Dosis', sans-serif;
}
.main-content{
    margin: 10px;
    color:  #8A4B08;
    font-size: 20px;

}
/**End general Styles*/
/*Header*/
.header{
    display: flex;
   justify-content: center;
   align-items: center;
    padding: 10px;
    height: 120px;
    border-bottom: 3px solid #819FF7;
    margin: 10px 10px;
}

a {
    text-align: center;
    font-size:22px; 
    color: #8A4B08;
    text-decoration: none;
    margin-left: 35px; 
}
/*End header*/
/*Content Styles*/
.content{
    
    width: 100%;
    
}
.sidebar{
    height: 100%;
    float: right;
    width: 28%;
    box-sizing: border-box; 
    padding:1%;
}
.info{
    width: 68%;
    box-sizing: border-box;
    padding: 1%;
}
/*End content Styles*/

/*Footer Styles*/
.footer{
    margin: 10px 10px;
    display: flex;
   justify-content: center;
   align-items: center;
    height: 80px;
    border: #819FF7 3px solid;
}
.footer img{
    margin: 0;
    padding: 2px;
    height: 60px;
    width: 60px;
}
/*End General Styles, End Principal page, main styles*/




/*Contacto*/
form{
    margin: auto;
    padding: 10px;
    width: 400px;
    border: #8A4B08 2px solid; 
    box-sizing: border-box;
    text-align: center;
}
textarea, input{
 width: 100%;
 margin-bottom: 10px;
 padding: 7px;
 box-sizing: border-box;
 font-size: 18px;
}

textarea {
    min-height: 200px;
    max-height: 200px;
    max-width: 350px;
    min-width: 350px;
}
.button{
    background: #502b03;
}
.button:hover{
 background: #0a2e03e0;
}
/*End Contacto*/
